<div class="container">
  <h1>Result</h1>
    <% if @included %>
      <% if @english_word %>
        <p><strong>Congratulations!</strong> <%= @word %> is a valid English word.</p>
      <% else %>
        <p>Sorry but <%= @word %> does not seem to be a valid English word..</p>
      <% end %>
    <% else %>
      <p>Sorry but <%= @word %> can't be built out of <%= @letters.join(', ') %></p>
    <% end %>
  <%= link_to "Play again?", new_path %>
</div>
